<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li class="timeline-inverted">
            <div class="timeline-image" style="color: white !important; background-color: white !important">
              <img src="img/about/appximus.png" alt="" class="img-circle img-responsive">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2010</h4>
                <h4 class="subheading">Founded Appximus</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">

                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <h4><br>iOS</h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2010-2012</h4>
                <h4 class="subheading">Our Humble Beginnings</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">We started off with just iOS development. We know mobile application would be part of everyone's life in the near future.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4><br>Enterprise</h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2012-2013</h4>
                <h4 class="subheading">Moving to enterprise apps.</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">We persue a different path from other startups. We focused on only enterprise application.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <h4>
                Ruby<br>
                on<br>
                Rails
              </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2013-2014</h4>
                <h4 class="subheading">Transition to Full Service</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">We wanted to build a better world. In order to do that, we diversify ourselves to learn more about other platforms including web application and android development.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>
                Ruby<br>
                on<br>
                Rails
              </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2014</h4>
                <h4 class="subheading">Great Opportunity</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">We were selected to create a new registration system which is highly critical and complicated for Mahidol University Internation College.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <h4>
                Ruby<br>
                on<br>
                Rails
              </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2015-Present</h4>
                <h4 class="subheading">More to learn</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">In the world of technology, it never stops. We know we have to keep ourselves up to date and we do our best to meet our customer satisfaction.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <h4>Be Part
                <br>Of Our
                <br>Story!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
